{% extends "base.html" %}

{% block title %}Test view{% endblock %}

{% block main %}
<div class="container">
    <h3 class="h2 mt-3">All notes</h3>
    <ul class="list-group list-group-flush mt-2">
        {% for note in notes %}
        <li class="list-group-item d-lg-flex justify-content-between" id="{{note.id}}">
            <p>{{note.title}} {{note.id}} {{note.user_id}}</p>
            <div class="">
                <a class="text-info btn p-1" href="/note/{{note.id}}">View</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary mt-5" href="/" role="button">Go back</a>
</div>
{% endblock %}